@keyframes spin-vertical {
	from { transform: rotateX(0); }
	to { transform: rotateX(-360deg); }
}

.Panel {
	width:100px;
	height:100px;
	position:fixed;
	
	display:inline-block;
	
	perspective-origin: 50% 0px;
	perspective: 400px;
}

.Block {
	position:relative;
	transform-style: preserve-3d;
	transform:rotateY(45deg) translateY(100px);
}

.Block div {
	position: absolute;
	width: 100px;
	height: 50px;
	border: 1px solid black;
	background:saddlebrown;
}

.PanelBack {
	transform: translateZ(-50px) rotateY(180deg);
}
.PanelLeft {
	transform: rotateY(-270deg) translateX(50px);
	transform-origin: top right;
}
.PanelRight {
	transform: rotateY(270deg) translateX(-50px);
	transform-origin: center left;
}
.PanelTop {
	transform: rotateX(-90deg) translateY(-50px);
	transform-origin: top center;
	height: 100px !important;
}
.PanelBottom {
	transform: rotateX(90deg) translateY(50px);
	transform-origin: bottom center;
}
.PanelFront {
	transform: translateZ(50px);
}